/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2015, 11:32:06 AM
    Author     : Polar Cape
*/

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: pointer;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    //background-image:url('../img/background.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}
td, th {
    text-align:  center;
}
@media only screen and (max-width: 500px) {
    [class*="col-"] {
        width: 10%;
    }
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
}
